*{
    margin: 0;
    padding: 0;
}
body{
    background-color:lightcyan;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1000px;
    background-color: aquamarine;
    margin: 0 auto;
    padding: 20px;
}

header{
    
}
.profile-image{
    width: 100px;
    height: 110px;
    border-radius: 50%;
    float: left;
}
.header-bio{
    float:left;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6{
    color: darkgreen; 
}
.header-contact{
    float: right;
    padding:20px;
    
}
.header-contact a{
    text-decoration: none;
    color: green;
    font-weight: bold;
}
.header-contact a:hover{
    text-decoration: underline;
    color: blueviolet;
}

.div-clear{
    clear: both;
}
hr{
    margin: 20px auto;
    border: solid black 2px;
    width:100%
    border-bottom: none;
}

/*-------------------------
Personal section start
---------------------------*/

#personal-section{
    
}
.content{
    margin: 30px;
}
.left-div{
    width: 30%;
    float: left;
}
.right-div{
    width:60%;
    float:right;
}
.common-hr{
    margin: 20px auto;
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    
}

/*-------------------------
footer section start
---------------------------*/

.bottom-container{
    background-color: black;
    text-align: center;
    padding: 10px;
}
.bottom-container a{
    color: white;
    text-decoration: none;
    margin: 20px;
}
.bottom-container p{
    color: white;
    
    margin: top 20px;
}

